PedroBot/config.py
PedroBot/*.session
PedroBot/*.session-journal
PedroBot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
PedroBot/modules/helper_funcs/temp.txt
PedroBot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
PedroBot.session-journal
updates.txt
*.exe
